<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Form</title>
  </head>
  <body>
    <h2>Form for Coding Dojo<h2>
      <h4>Please complete this form:</h4>
      <form>
        <label>First Name:</label><br>
        <input type="text" name="first_name" placeholder="first name"><br>
        <label>Last Name:</label><br>
        <input type="text" name="last_name" placeholder="last name"><br>
        <label>Gender:</label><br>
        <input type="radio" name="gender" value="male"> Male <br>
        <input type="radio" name="gender" value="female"> Female <br>
        <input type="radio" name="gender" value="other"> Other <br>
      </form>
  </body>
</html>
