<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Courses</title>
    <style>
      table, th, td {border: 1px solid black;}
    </style>
  </head>
  <body>
    <h3>Add A New Course</h3>
    <form action='{% url 'courses:course_creation' %}' method='POST'>
          {% csrf_token %}
      <label>Name:</label><br>
      <input type='text' name='name' placeholder='course name'/><br>
      <label>Description:</label><br>
      <textarea name='descrip' placeholder='course description'></textarea><br>
      <input type="submit" value='Submit'/>
    </form>
    <h2>Courses</h2>
    <table>
      <thead>
        <tr>
          <th>Course Name</th>
          <th>Description</th>
          <th>Date Added</th>
          <th>Actions</th>
          <th>Add User</th>
        </tr>
      </thead>
      <tbody>
          {% for c in courseinfo %}
        <tr>
          <td>{{c.name}}</td>
          <td>{{c.description}}</td>
          <td>{{c.created_at}}</td>
          <form action='/remove/{{c.id}}'>
            {% csrf_token %}
            <td><input type="submit" value='DELETE'/></td>
          </form>
          <td><a href="{% url 'integration:add_user' %}">Add a User to this Course</a></td>
        </tr>
          {% endfor %}
      </tbody>
    </table>
    <a href='{% url 'users:users_index' %}'>Register a User</a>
  </body>
</html>
